@media only screen and (max-width: 992px) {
    body {
        border: #fafafa;
    }

    nav {
        display: none;
    }

    .sections,
    .projects,
    .other,
    .tools,
    .technology {
        width: auto;
        margin-left: 0;
    }

    .header {
        height: auto;
        padding: 0;

    }

    .header img {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 70px;
    }

    .header .title {
        margin: 0;
        width: 100%;
        background-color: #fafafa;
        text-align: center;
        padding: 120px 20px 60px;
        margin-top: 150px;

    }

    .header .lang {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .header .title i {
        color: #333533;
    }

    .header .name {
        font-size: 35px;
        margin-bottom: 25px;
        color: #333533;
    }

    .header .position {
        font-size: 20px;
        color: #333533;

    }

    .header .button {
        border-color: #333533;
        font-size: 14px;
        color: #333533;
        display: inline-block;
        width: 100%;

    }

    .sections {
        margin-right: 0;
    }

    .sections section {
        border-top: 1px solid #d9d9d9;
        padding: 20px 20px;

    }

    .about,
    .info,
    .social {
        font-size: 16px;
    }

    .about p,
    .info p,
    .social p {
        font-size: 0.7em;
    }

    .social ul li span {
        width: 30px !important;
        height: 30px !important;
        background-size: contain;
    }

    .skill {
        font-size: 12px;
    }

    .skill .right {
        width: 114px;
    }

    .skill img {
        width: 30px;
        height: 30px;
    }

    .other li {
        font-size: 15px;
        margin-left: 12px;
        margin-bottom: 8px;
    }

    section:last-child {
        margin-left: 0;
    }



    .project {
        width: 100%;
        margin-left: 0px !important;
    }

    .project:last-child {
        margin-bottom: 80px;
    }

    .mobile-nav {
        display: block;
        color: #fafafa;
        background-color: #333533;
        font-size: 13px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .mobile-nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .mobile-nav li {
        padding: 20px 0px;
        text-align: center;
        flex: 1;
    }

    .mobile-nav li.active {
        border-bottom: 4px solid #FFD100;
        color: #FFD100;
    }

    .mobile-nav .marker {
        margin-left: 8px;
    }




}