/* Font */
@font-face {
	font-family: "Poppins";
	src: url("./assets/Fonts/Poppins-Light.ttf") format("ttf"),
		url("./assets/Fonts/Poppins-Light.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/Fonts/Poppins-Medium.ttf") format("ttf"),
		url("./assets/Fonts/Poppins-Medium.woff") format(woff);
	font-weight: 400;
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/Fonts/Poppins-Regular.ttf") format("ttf"),
		url("./assets/Fonts/Poppins-Regular.woff") format("woff");
	font-weight: 500;
}


/* Global */
* {
	font-family: "Poppins", sans-serif;

	box-sizing: border-box;

}

a:visited,
a:active {
	color: #333533;
}

.sections {
	line-height: 1.8;
}

h4,
p,
h5 {
	margin-bottom: 0;
}

h4,
h5 {
	margin-top: 0;

}


h2 {
	font-weight: 400;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

/* Color */
.header .name,
.button,
.fa-github,
header .fa-angle-right {
	color: #FFD100;
}

.header .position,
.header .lang,
.fa-globe {
	color: #FAFAFA;
}

body {
	background-color: #FAFAFA;
	margin: 0px;
	color: #333533;

}

/* Header */

.header {
	background-color: #333533;
	height: 376px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 45px 0px;

}



.header .name {
	font-size: 64px;
	line-height: 1;
	margin-bottom: 0px;

}

.button {
	font-size: 16px;
	padding: 8px 24px;
	border: 2px solid #FFD100;
	border-radius: 4px;
	color: #FFD100 !important;
}

.header .lang {
	font-size: 16px;
	border: 1px solid #FAFAFA;
	border-radius: 4px;
	padding: 4px 8px;
	font-size: 12px;
	opacity: 0.7;
	position: absolute;
    right: 300px;
    top: 120px;
	
}


.header .title {
	margin: 0px 50px;
}

.header .position {
	font-size: 28px;
	margin-top: 0px;
	padding: 6px;
	margin: 42px 0px;

}

.header img {
	width: 290.01px;
	height: 288px;
	border-radius: 50%;

	
}



/* Navbar */
nav {
	font-size: 22px;
	width: 250px;
	height: 100%;
	/* border-right: 1px solid #333533; */

}

nav ul {
	margin-top: 0;
}

nav ul li>span:hover {
	display: inline-block;
	cursor: pointer;
	border-radius: 36px;
	background-color: #333533;
	color: #FAFAFA;
	padding: 0px 24px 0px 0px;
	transition: 0.8s;

}

nav ul li>span {
	font-weight: 500;
}

/* nav ul li:hover {
	display: inline-block;
	cursor: pointer;
	border-radius: 36px;
	background-color: #333533;
	color: #FAFAFA;
	padding: 0px 24px 0px 0px;

} */
nav ul li>span.active {
	font-weight: 550;
	transition: 0.8s;

}

nav ul li>span.active:hover {
	display: inline-block;
	cursor: pointer;
	border-radius: 36px;
	background-color: #333533;
	color: #FFD100;
	padding: 0px 24px 0px 0px;
	font-weight: 550;


}

nav li>span.active marker {
	font-weight: 550;
}

nav ul li .marker {
	width: 48px;
	height: 48px;
	border: 1px solid #333533;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: baseline;
	line-height: 48px;
	font-size: 18px;
	margin-right: 12px;

}

nav ul li>span.active .marker {
	color: #FFD100;
	background-color: #333533;
}

.space {
	display: block;
	height: 48px;
	border-left: 1px dashed #333533;
	margin: 16px 25px;
}

/* Sections */
/* About Me */
.sections {
	width: 700px;
	border-left: 1px solid #333533;

}



.about h4,
.about h5,
.about p {
	font-size: 18px;
}

.sections h5 {
	font-weight: 550;
}

.container {
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	padding: 53px 0;
}

.about {
	display: flex;
	flex-direction: column;
	padding-left: 48px;
	padding-top: 12px;
}

.about h5,
.fa-clone {
	color: #A0A0A0;
}

.info {
	display: flex;
	margin-top: 36px;
	padding: 12px 0;

}

.info div {
	width: 50%;
}

.info p {
	margin-top: 6px;
}


.fa-clone {
	margin-left: 14px;
	font-size: 14px;
}

.fa-clone:hover {

	cursor: pointer;
	color: #333533;
}

.social {
	margin-top: 36px;
	padding: 12px 0;
}

.social li {
	display: inline-block;
}

.social ul li {
	margin-right: 32px;
}

.social img {
	width: 56px;
	height: 56px;
	border-radius: 6px;
}


.social span.linkedin {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/linkedin.png);
}

.social span.linkedin:hover {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/linkedin-hover.png);
	transition: 0.8s;
}

.social span.github {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/github.png);
}

.social span.github:hover {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/github-hover.png);
	transition: 0.8s;
}

.social span.stackoverflow {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/stackoverflow.png);
}

.social span.stackoverflow:hover {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/stackoverflow-hover.png);
	transition: 0.8s;

}

.social span.twitter {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/twitter.png);
}

.social span.twitter:hover {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/twitter-hover.png);
	transition: 0.8s;
}

.social span.telegram {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/telegram.png);
}

.social span.telegram:hover {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/telegram-hover.png);
	transition: 0.8s;
}

.social span.whatsapp {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/whatsapp.png);
}

.social span.whatsapp:hover {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/whatsapp-hover.png);
	transition: 0.8s;
}

.social span.instagram {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/instagram.png);
}

.social span.instagram:hover {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(../Icons/social/instagram-hover.png);
	transition: 0.8s;
}

/* My Skills */
.technology {
	display: flex;
	flex-direction: column;
	margin-left: 48px;
	width: 840px;

}

.skill {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #A0A0A0;
	border-radius: 8px;
	padding: 10px 24px 10px 24px;
	margin-bottom: 24px;

}

.skill img {
	vertical-align: middle;
	width: 36px;
	height: 36px;
	margin-right: 12px;
}

.skill .left {
	font-weight: 550;
}

.skill .right {

	border-left: 1px solid #A0A0A0;
	color: #A0A0A0;
	height: 36px;
	width: 180px;



}

.fa-signal {
	padding: 0 14px;
	vertical-align: middle;
}

.tools {
	display: flex;
	flex-direction: column;
	margin-left: 48px;
	margin-top: 54px;
	width: 840px;
}

.other {
	display: flex;
	flex-direction: column;
	margin-left: 48px;
	margin-top: 54px;
	width: 840px;
}

.other li {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 16px;
	padding: 7px 24px;
	border: 1px solid #A0A0A0;
	border-radius: 25px;
	font-size: 18px;
}

/* My Project */

section:last-child {
	margin-left: 48px;
}

section:last-child h4 {
	margin-bottom: 24px;
}

.project {
	border: 1px solid #333533;
	border-radius: 8px;
	width: 264px;
	padding: 10px;
	margin-bottom: 40px;

}

.project:not(:last-child) {
	margin-right: 20px;
}

.project h5 {
	font-size: 19px;

}

.project p {
	color: #A0A0A0;
}

.tech {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 35px;
	font-size: 14px;
}

.tech li {
	display: inline-block;
}

.tech img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.buttons {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

.buttons i {
	margin-right: 5px;
	color: #333533;
}

.buttons a:first-child {
	padding: 8px 29px;
}

.buttons a:first-child:hover,
.buttons a:hover i {
	color: #A0A0A0;
}

.buttons a:last-child {
	padding: 8px 10px;
	border: 1px solid #333533;
	border-radius: 4px;
}

.buttons a:last-child:hover,
.buttons a:hover i {
	color: #A0A0A0;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	width: 860px;
}